[Desktop Entry]
Name=CoreFM
Comment=CoreFM is a filemanager from CoreApps.
Exec=corefm %F
Icon=/usr/share/coreapps/icons/CoreFM.svg
Type=Application
Categories=Utility;Qt;FileTools;FileManager;
Terminal=false
StartupNotify=true
